<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439421555868-v29r7eu62f2mum861fps1eanpmemd2um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439421555868-v29r7eu62f2mum861fps1eanpmemd2um</string>
	<key>API_KEY</key>
	<string>AIzaSyATsF-D_-5i3cZTHcn6rPWAKDmXuKEoVCI</string>
	<key>GCM_SENDER_ID</key>
	<string>439421555868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IbrahiMoGedami.notesAppDemo</string>
	<key>PROJECT_ID</key>
	<string>takingnotedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>takingnotedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439421555868:ios:7cc5b8dddcc27f922b8959</string>
	<key>DATABASE_URL</key>
	<string>https://takingnotedemo-default-rtdb.firebaseio.com</string>
</dict>
</plist>